<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой простой сайт</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <h1>Добро пожаловать на мой сайт!</h1>
    </header>

    <main>
        <p class="intro">Это пример простой веб-страницы на HTML и CSS.</p>
        <button id="my-button">Нажми меня</button>
    </main>

    <footer>
        <p>&copy; 2025 Мой сайт. Все права защищены.</p>
    </footer>
</body>
</html>
